// Your website's CSS

body {
	font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	height: 100vh;
}

h1 {
	font-size: 73px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: -0.002em;
}

h2 {
	margin-top: -24px;
	font-size: 44px;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: -0.0275em;
	// text-align: center;
}

p {
	font-size: 20px;
	font-weight: 400;
	color: inherit;
	line-height: 32px;
	letter-spacing: 0.002em;
	box-sizing: border-box;
	// padding: 30px;
}

a {
	color: inherit;
}

nav {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 75px;
	border-bottom: 2px solid #eee;
	background: rgba(255, 255, 255, 0.75);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	z-index: 10;
	opacity: 0;
	transition: opacity 250ms ease-in-out;

	.list {
		line-height: calc(75px - 2px);
		text-align: right;
		padding-right: 20px;
		box-sizing: border-box;

		.item {
			margin: 10px;
			color: #333;
			text-decoration: none;

			&:hover {
				color: #0070c9;
			}
		}

		.download {
			background-color: #0067b9;
			background: -webkit-linear-gradient(#3d94d9, #0067b9);
			background: linear-gradient(#3d94d9, #0067b9);
			border-color: #006dbc;
			outline: none;
			border-radius: 4px;
			color: #fff;
			padding: 3px 15px 4px;
		}
	}
}

header {
	width: 100vw;
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap-reverse;

	.logo {
		position: absolute;
		top: 50px;
		width: 100px;
		height: 100px;
		left: calc(50vw - 50px);
		background: url("../img/Logo.svg");
		background-size: contain;
		border: 1px solid #eee;
		border-radius: 22.37%;
		transition: all 500ms ease-in-out;
		z-index: 11;
		cursor: pointer;
	}

	.txt {
		text-align: center;
		padding: 20px;
	}

	.img {
		max-width: 700px;
		max-height: 500px;
		width: 90vw;
		height: 64.285714287vw; // (5/7)*90
		background: url("../img/Present.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.go {
	width: 100%;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
	.app {
		color: rgb(100, 100, 100);
		margin-top: -24px;
		font-size: 36px;
		font-weight: 500;
		line-height: 53px;
		letter-spacing: -0.0275em;
		text-decoration: none;
		&:hover {
			color: rgb(150, 150, 150);
		}
	}
}
article {
	border-top: 2px solid #eee;
	box-sizing: border-box;
	padding: 50px;

	section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 20px;
		&:nth-child(2n) {
			flex-wrap: wrap-reverse;

			.txt {
				text-align: right;
			}
		}

		.txt {
			padding: 20px;
			max-width: 700px;
			text-align: justify;
		}

		.img {
			height: 500px;
			min-width: 700px;
			width: 30vw;
		}

		&.why {
			.img {
				background: url("../img/Simple.jpg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain !important;
			}
		}

		&.everywhere .img {
			background: url("../img/products.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain !important;
		}
		&.online .img {
			background: url("../img/CloudKit.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain !important;
		}
		&.download a {
			width: 500px;
			padding: 20px;
			margin: 50px;
			background-color: #007aff;
			text-decoration: none;
			color: white;
			text-align: center;
			border-radius: 10px;
			&:hover {
				background-color: #4286f4;
			}
		}
	}
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}
